[user]
	email = joshrosso@gmail.com
	name = joshrosso

[url "git@github.com:"]
	insteadOf = https://github.com/

[core]
	excludesfile = ~/.gitignore

[diff]
	tool = vimdiff

[difftool]
	prompt = false
